.my__image{
    transition: 0.3s;
}

.my__image:hover{
    transform: scale(1.1);
}


@media only  screen and (max-width:992px) {
    .my__image {
        transition: none;
        width: 90%;
    }
    .my__image:hover{
        transform: none;
    }
}