.services {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .service__items {
    padding: 1rem;
    border: 1px solid #faa86586;
    border-radius: 0.5rem;
    height: 372px;
    max-width: 250px; /* Adjust max-width as per your design */
    text-align: start;
    margin-bottom: 1rem;
}

.services .service__items span {
    display: inline-block;
    padding: 0.7rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-bottom: 0.5rem;

}

.services .service__items span i {
    color: white;
    font-size: 1.1rem;
}

@media only screen and (max-width: 992px) {
    .services .d-flex {
        flex-direction: column;
        align-items: center;
    }
}
